# Dependencies
node_modules/

# Next.js build
.next/
out/

# Production
build/

# Debug logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Local env files
.env.local
.env.*.local

# Editor/OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# TypeScript cache
*.tsbuildinfo

# Next.js types cache
.next/types/
.vercel
